__pycache__
data/all_entity.txt
data/attr_mapping.txt
data/crawl.json
data/data.json
data/data.nq
data/data_val.txt
data/downloads/
data/entity_mapping.txt
web/node_modules
web/public
web/src
web/*.json
web/README.md
