.App-main {
  background-color: #282c34;
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding-top: 40px;
}

.App-main input, .App-main button, .App-main select {
  border: 0;
  border-radius: 10px;
  height: 36px;
  outline: none;
  padding: 0px 10px;
  font-size: 10pt;
}

.App-main input.search {
  width: calc(50vw - 20px);
}

.App-main p {
  padding: 10px;
}

.App-main ul {
  list-style: none;
  width: 50vw;
  border-radius: 10px;
  padding: 0px 10px;
  margin-top: 20px;
}

.App-main ul li {
  display: flex;
  margin-bottom: 10px;
  font-size: 13pt;
  background-color: #434548;

  flex-direction: row;
  justify-content: space-between;
}

.App-main ul li span {
  padding: 10px;
  overflow: scroll;
}

.App-main ul li a {
  padding: 10px;
  overflow: scroll;
  color: #ccc;
}

.App-main ul.subj li {
  cursor: pointer;
}

.App-main ul.subj_attrs li span.field {
  width: 150px;
}

.App-main ul.subj_attrs li .small {
  font-size: 10pt;
}

.App-main ul.subj_attrs li span.pointer {
  cursor: pointer;
}

.App-main ul.subj_attrs li.add_triples {
  background-color: #282c34;
}

.triples {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.triples input {
  width: calc(18vw - 20px);
}

.triples button {
  background: #a5c0f7;
  cursor: pointer;
  width: calc(7vw - 17px);
}

.triples button.delete {
  background: #e26f6f;
  cursor: pointer;
  width: calc(7vw - 17px);
}

.chat {
  background: #f7f7f7;
  width: calc(50vw - 20px);
  height: calc(100vh - 150px);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat .chat-line {
  margin-bottom: 10px;
  display: flex;
  color: black;
}

.chat .chat-line-left {
  margin-bottom: 10px;
  justify-content: flex-start;
}

.chat .chat-line-right {
  margin-bottom: 10px;
  justify-content: flex-end;
}

.chat .chat-left {
  background: #ccc;
  width: auto;
  max-width: 100vh;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}

.chat .chat-right {
  background: #aaa;
  width: auto;
  max-width: 100vh;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}

.chat ul {
  width: initial;
}

.chat ul li.add_triples {
  display: none;
}

.upload {
  cursor: pointer;
  border: 1px solid #aaa;
  margin-bottom: 10px;
}

.preview {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 98vw;
  height: calc(100vh - 90px);
}

.preview.import {
  height: calc(100vh - 130px);
}

.preview .SpreadsheetGridContainer {
  width: 98vw;
}

.import-btn {
  margin-top: 10px;
}

.import-btn button {
  min-width: 10vw;
}
